<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  class="navbar-brand">SportRecap</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn"  routerLink="exercices">My Exercises</a>
      </li>
      <li class="nav-item">
        <a href="/ajout" class="nav-link" *ngIf="isLoggedIn"  routerLink="ajout">Add Exercises to my List</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>